
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

    

    <h1>Numero Documento del Proyecto {{ proyectocosto.id }}</h1>
    <h2>Nombre <i>{{ proyectocosto.proyecto }}</i></h2>
    <p>
        <a href="{% url "list_pc" %}">Regresar</a>
    </p>

    <p><b>Codigo Nivel: </b>{{proyectocosto.codigoNivel }}</p> 
    <p><b>Costo Dir: </b>{{proyectocosto.costoDir }}</p>
    <p><b>Costo Equipo: </b>{{proyectocosto.costoEquipo}}</p>
    <p><b>Costo Adm: </b>{{proyectocosto.costoAdm }}</p>
    <p><b>Costo Imp: </b>{{proyectocosto.costoImp}}</p>
    <p><b>Costo Otros: </b> {{proyectocosto.costoOtros}} </p>
    <p><b>Observacion: </b> {{proyectocosto.observacion }}</p>
    <p><b>Costo Pip: </b>{{proyectocosto.costoPIP }}</p>
    
    <p><b>Codigo Fase: </b> {{proyectocosto.codFase }}</p>

</body>
</html>



