



	<h1>Numero proyecto {{ proyecto.id }}</h1>
	<h2>Nombre <i>{{ proyecto.nombre }}</i></h2>
	<p>
    	<a href="{% url "list_p" %}">Regresar</a>
	</p>

	<p>Codigo Fase {{proyecto.codigoFase}}</p>
    <p>Codigo Nivel{{proyecto.codigoNivel }}</p> 
    <p>Codigo Snip{{proyecto.codSnip  }}</p>
    <p>Nombre proyecto {{proyecto.nombre }}</p>
    <p>Fecha Reg{{proyecto.fechReg  }}</p>
    <p>Costo pip{{proyecto.costopip  }}</p>
    <p>Coto Dir{{proyecto.costoDir  }}</p>
    <p>Codigo Funcion{{proyecto.codFuncion  }}</p>
    <p>Codigo Departamento {{proyecto.codDepartament }} </p>
    <p>Codigo provincia {{proyecto.codprovincia  }}</p>
    <p>Codigo Distrito{{proyecto.codDiestrito  }}</p>
    <p>Codigo Cliente {{proyecto.codCli  }}</p>
    <p>Codigo Esp{{proyecto.codEsp  }}</p>
    <p>Codigo Resp{{proyecto.codResp  }}</p>
    <p>Observacion {{proyecto.observacion }}</p> 
    <p>Vigente {{proyecto.vigente  }}</p>
