

	<h1>Numero Documento del Proyecto {{ proyectodocs.id }}</h1>
	<h2>Nombre <i>{{ proyectodocs.proyecto }}</i></h2>
	<p>
    	<a href="{% url "list_pd" %}">Regresar</a>
	</p>

	<p>Codigo Fase {{proyectodocs.codigoFase}}</p>
    <p>Codigo Nivel{{proyectodocs.codigoNivel }}</p> 
    <p>Fecha Inicio{{proyectodocs.fechInicio  }}</p>
    <p>Fecha Fin {{proyectodocs.fechFin }}</p>
    <p>Cost Est{{proyectodocs.costEst  }}</p>
    <p>Observacion {{proyectodocs.observacion  }}</p>
    <p>EstProyecto{{proyectodocs.estPyto  }}</p>
    <p>Tipo Entregable {{proyectodocs.tipoEntregable }} </p>
    <p>Codigo Entrega {{proyectodocs.codEntrega  }}</p>
    <p>Codigo Esp {{proyectodocs.codEsp  }}</p>
    <p>Codigo Resp {{proyectodocs.codResp  }}</p>



