{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    

    <h1>Numero Documento del Proyecto {{ proyectodocs.id }}</h1>
    <h2>Nombre <i>{{ proyectodocs.proyecto }}</i></h2>
    <p>
        <a href="{% url "list_pd" %}">Regresar</a>
    </p>

    <p><b>Codigo Fase: </b> {{proyectodocs.codigoFase}}</p>
    <p><b>Codigo Nivel: </b>{{proyectodocs.codigoNivel }}</p> 
    <p><b>Fecha Inicio: </b>{{proyectodocs.fechInicio  }}</p>
    <p><b>Fecha Fin: </b> {{proyectodocs.fechFin }}</p>
    <p><b>Cost Est: </b>{{proyectodocs.costEst  }}</p>
    <p><b>Observacion: </b> {{proyectodocs.observacion  }}</p>
    <p><b>EstProyecto: </b> {{proyectodocs.estPyto  }}</p>
    <p><b>Tipo Entregable: </b> {{proyectodocs.tipoEntregable }} </p>
    <p><b>Codigo Entrega: </b> {{proyectodocs.codEntrega  }}</p>
    <p><b>Codigo Esp: </b> {{proyectodocs.codEsp  }}</p>
    <p><b>Codigo Resp: </b> {{proyectodocs.codResp  }}</p>

</body>
</html>



